body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(45deg, #ffbde2, #ffffff);
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    /* padding: 1px; */
    background: #fa7dc4;
    color: #fff;
    backdrop-filter: blur(6px);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);

}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text {
    position: relative;
    z-index: 10;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.carousel-container {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
}

.carousel-img {
    animation: fade 1s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.products {
    padding: 60px 20px;
    text-align: center;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 250px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* h2 {
    color: #52dfff;
} */

.footer {
    text-align: center;
    padding: 20px;
    background: #fa7dc4;
    color: white;
    margin-top: 40px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 1px;
}

.brand-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-left: 5px;
}